---
import { LanguageSelector } from "astro-i18next/components";
import astroI18nextConfig from "../../astro-i18next.config.mjs";
import i18next from "i18next";
const allLanguages = astroI18nextConfig.locales;


let currentLanguage = i18next.language;
---

<div x-data="{open: false}">
    <button @click="open = ! open">
        <img src={`/icons/flags/${currentLanguage}.svg`} alt={currentLanguage}>
        <i x-bind:class="`fa-solid ${open ? 'fa-angle-up' : 'fa-angle-down'}`"></i>
    </button>
    <ul x-show="open" x-collapse>
        {allLanguages.map((lang) => {
            const flagName = lang.replace('-', '');
            return (
                <li><a href={lang === 'en-US' ? '/' : `/${lang}`}><img src={`/icons/flags/${lang}.svg`} alt={lang}></a></li>
            );
        }
        )}
    </ul>
</div>




<style>

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #a7a7a7;
        border-radius: 10px;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        max-height: 15rem; 
        overflow-y: auto;
    }

    li img {
        width: 3rem;
        height: auto;
    }

    button {
        background-color: transparent;
        border: none;
        color: black;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    button img {
        width: 2.188rem;
        height: auto;
        margin-right: 0.5rem;
    }

    @media (min-width: 630px) {
        * {
            display: none;
        }
    }

</style>


