---
import ProjectCard from "./ProjectCard.astro";
import i18next, { t } from "i18next";

let allProjects = await Astro.glob("../pages/projects/**/*.mdx");
function shuffleArray(array) {
    for (let i = array.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
    }
}

shuffleArray(allProjects);
allProjects = allProjects.slice(0, 2);
---

<h3>{t("home_projects.title")}</h3>
<ul>
    {allProjects.map(post => (
        <ProjectCard
            projectName={post.frontmatter.projectName}
            projectLink={post.url}
            projectImg={post.frontmatter.projectImg}
            projectLanguage={post.frontmatter.projectLanguage}
            projectSystem={post.frontmatter.projectSystem}
     />))}
</ul>

<style>
    ul {
        display: flex;
        gap: 9.38rem;
        margin: 0;
        padding: 0;
    }

    @media (max-width: 630px){
        ul {
            flex-direction: column;
            gap: 2.5rem;
            padding: 0 1rem;
        }
    }
</style>