---
import ProjectCard from "./ProjectCard.astro";
import i18next, { t } from "i18next";
import { getCollection } from "astro:content"

const allProjects = await getCollection("projects");
---



<h2>{t("projects.title")}</h2>
<ul>
    {allProjects.map(post => (
        <ProjectCard
            projectName={post.data.projectName}
            projectLink={`/projects/${post.slug}/`}
            projectImg={post.data.projectImg}
            projectLanguage={post.data.projectLanguage}
            projectSystem={post.data.projectSystem}
     />))}
</ul>

<style>
    ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        padding: 0;
        gap: 3.5rem;
    }

    @media (max-width: 630px) {
        ul {
            grid-template-columns: 1fr;
            padding: 0 1rem;
        }
    }
</style>