---

const { projectName, projectLanguage, projectSystem, projectImg, projectLink} = Astro.props;
---

<li>
    <a href={`${projectLink}`}><img src={`${projectImg}`} alt={`${projectName}`}></a>
    <div class="text">
        <div class="lang-system">
            <img src={`/icons/platforms/${projectSystem}.svg`} alt={`${projectSystem}`}>
            <img id="flag" src={`/icons/flags/${projectLanguage}.svg`} alt={`${projectLanguage}`}>
        </div>
        <a href={`${projectLink}`}><p>{projectName}</p></a>
    </div>
</li>

<style>
    li {
        display: flex;
        flex-direction: column;
    }

    .text {
        display: flex;
        flex-direction: column;
    }

    .lang-system {
        display: flex;
        gap: 0.80rem;
        align-items: center;
    }

    .text p {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    li > a > img {
        width: 100%;
        height: auto;
        border-radius: 0.5rem;
    }

    .lang-system > img:first-child {
        width: auto;
        height: 1.6rem;
    }

    .lang-system > img:last-child {
        width: auto;
        height: 2rem;
    }

    #flag {
        filter: drop-shadow(0px 0px 0.5px black);
    }
</style>