---
import ProjectCard from "./ProjectCard.astro";

let allProjects = await Astro.glob("../pages/projects/**/*.md");

allProjects = allProjects.slice(-2).reverse();
---

<h3>Recent Projects</h3>
<ul>
    {allProjects.map(post => (
        <ProjectCard
            projectName={post.frontmatter.projectName}
            projectLink={post.url}
            projectImg={post.frontmatter.projectImg}
            projectLanguage={post.frontmatter.projectLanguage}
            projectSystem={post.frontmatter.projectSystem}
     />))}
</ul>

<style>
    ul {
        display: flex;
        gap: 9.38rem;
    }
</style>