---
import ProjectCard from "./ProjectCard.astro";
import i18next, { t } from "i18next";

import { getCollection } from "astro:content"

let allProjects = await getCollection("projects");
function shuffleArray(array) {
    for (let i = array.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
    }
}

shuffleArray(allProjects);
allProjects = allProjects.slice(0, 2);
---

<h3>{t("home_projects.title")}</h3>
<ul>
    {allProjects.map(post => (
        <ProjectCard
            projectName={post.data.projectName}
            projectLink={`/projects/${post.slug}/`}
            projectImg={post.data.projectImg}
            projectLanguage={post.data.projectLanguage}
            projectSystem={post.data.projectSystem}
     />))}
</ul>

<style>
    ul {
        display: flex;
        gap: 9.38rem;
        margin: 0;
        padding: 0;
    }

    h3 {
		font-size: 2rem;
		font-weight: 700;
	}

    @media (max-width: 630px){
        ul {
            flex-direction: column;
            gap: 2.5rem;
            padding: 0 1rem;
        }
    }
</style>