---
import Layout from "./Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
    frontmatter: {
        projectSystem: string;
        projectLanguage: string;
        projectName: string;
        projectImg: string;
        projectAuthor: string;
        projectDate: string;
        projectControllers: string[],
    }

}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.projectSystem} - Ninternational`}>
    <Header></Header>
    <main>
        <a href="../../" class="back-button">
            <i class="fa-solid fa-arrow-left"></i>
            <p>Back</p>
        </a>
        <div class="project-title">
            <h1>{frontmatter.projectName}</h1>
            <img src={`/icons/platforms/${frontmatter.projectSystem}.svg`} alt={`${frontmatter.projectSystem}`}>
            <img src={`/icons/flags/${frontmatter.projectLanguage}.svg`} alt={`${frontmatter.projectLanguage}`}>
        </div>
        <img src={`${frontmatter.projectImg}`} alt={`${frontmatter.projectName}`}>
        <div class="project-author">
            <div>
                <section>
                    <h4>Translated by:</h4>
                    <p>{frontmatter.projectAuthor}</p>
                </section>
                <section>
                    <h4>Release Date:</h4>
                    <p>{frontmatter.projectDate.slice(0,10)}</p>
                </section>
            </div>
            <div class="project-controller">
                <h4>Controllers:</h4>
                <ul>
                    {frontmatter.projectControllers.map((controller) => (
                        <li><img src={`/icons/controllers/${controller}.svg`} alt={`${controller}`}/></li>
                    ))}
            </div>
        </div>
        <slot />
    </main>
    <Footer></Footer>
</Layout>

<style>
    main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #000;
		font-size: 20px;
		line-height: 1.6;
        margin-top: 4rem;
	}

    img {
        width: 100%;
        height: auto;
    }

    .back-button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1rem;
        text-decoration: none;
        color: #000;
    }

    .project-title {
        display: flex;
        gap: 2rem;
    }

    .project-title img {
        width: 8%;
        height:auto;
    }

    .project-author {
        display: flex;
        justify-content: space-between;
    }

    .project-author > div:first-child {
        display: flex;
        gap: 5rem;
    }

    .project-controller {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    .project-controller ul {
        display: flex;
        gap: 0.8rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .project-controller img {
        width: 100%;
        height: auto;
    }
</style>